body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background:#00305f !important;
}
.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(236, 245, 248, 0.795);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 100px;
  width: 350px;
  top: -15px;
 
  background-color:#00305f;
  padding: 10px;
  text-align: center;
 
}

.texto{
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  font-weight: 5000;
  color: white;

}

.form_container {
  margin-top: 100px;
}
.container {
 /* background-image: url(src/assets/images/politecnica.png);*/
  background-position: center;
  background-position-x: 0px;
}
.login_btn {
  width: 100%;
  background: rgb(247, 203, 193)3333 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #00305f !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #00305f !important;
}
