<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="texto d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <h4 class="title">Iniciar Sesión</h4>
                        <p class="category hidden-xs">Sistema de Evaluación - Facultad de Ingenieria</p>

                        
                    </div>
                </div>                
                <div class="d-flex justify-content-center form_container">                    
                    <form [formGroup]="forma" (ngSubmit)="onLogin()" novalidate>
                        <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{errMsj}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group input-group mb-3">
                            <div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
                            <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                            formControlName="nombreUsuario" placeholder="Usuario" required>
                        </div>
                        <div class="form-group input-group mb-2">
                            <div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                            <input type="password" name="password" id="password" class="form-control"
                            formControlName="password" placeholder="Contraseña" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-success btn-block"  [disabled]="!forma.valid" >
                                <i class="fas fa-sign-in-alt"></i> Iniciar Sesi&oacute;n</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>
