body {
    font:400 16px/1.8 sans-serif;
}

/*estilos para la tabla*/
table th{
    background-color: #337ab7 !important;
    color: white;
  }

  table>tbody>tr>td {
    vertical-align: middle !important;
    
  }

  /*para alinear los botones y cuadro de busqueda*/
  .btn-group, .btn-group-vertical {
    position: absolute !important;
  }


  tfoot {text-align: right; font-weight: bold; background-color: rgb(233, 230, 230); }